// Requirements
// ============

@import "susy";
@import "breakpoint";

/*define susy grid setup*/
$susy: (
  columns: 12,
  gutters: 1/2,
  gutter-position: after,
  global-box-sizing: border-box,
  	math: fluid,
 	output: float,
 	clearfix: true
);

/*define responsive breakpoints*/
$BREAKPOINTS: (
    'mobile': (min-width: 300px),
    'tablet': (min-width: 733px),
    'laptop': (min-width: 1200px),
    'desktop': (min-width: 1400px),

    );