/*
Theme Name: mr_bok
Author: Rob Speakman
Description: Rob Speakman's personal portfolio Wordpress theme
Version: 0.0.1
Tags: hola
*/

@import "compass/reset";
@import "compass/css3";
@import "susy";
@import "compass/typography/vertical_rhythm";
@import "grids";
@import "breakpoint";

/*Establish vertical rhythm settings*/

$base-font-size: 18px;
$base-line-height: 30px;
@include establish-baseline;

/*CLearfix mixin for awkward divs*/

@mixin susy-clearfix {
    @if susy-support(clearfix, (mixin: clearfix)) {
        @include clearfix;
    }
    @else {
        &:after {
            content: " ";
            display: block;
            clear: both;
        }
    }
}


/*Colours - Triadic wheel*/

$base: #333333;
$offPink: #7f7373;
$olive: #404039;
$lightOlive: #C1BDBD;
$darkBlueGray: #5C6266;
$lightBlueGray: #737B7F;
* {
    @include border-box-sizing;
}

html,
body {
    height: 100%;
    @include adjust-leading-to(1);
}

body {
    background: $base;
    color: #fff;
}

img {
    max-width: 100%;
}

h1,
h2,
h3,
h4 {
    @include respond-to(mobile) {
        text-align: center;
    }
    @include respond-to(tablet) {
        text-align: left;
    }
    font-family: 'Crimson Text',
    serif;
    text-transform: uppercase;
    letter-spacing: 0.15em;
}

h1 {
    /*Margin-top, padding-top, padding-bottom, margin-bottom*/
    @include respond-to(mobile) {
        font-size: 2.5em;
        @include rhythm(2, 0, 0, 1, 1em);
        line-height: 40px;
    }
    @include respond-to(laptop) {
        @include rhythm(4, 0, 0, 2, 1em);
        font-size: 4em;
    }
    @include respond-to(desktop) {
        @include rhythm(4, 0, 0, 2, 1em);
    }
}

h2 {
    @include respond-to(mobile) {
        font-size: 2em;
        @include rhythm(2, 0, 0, 2, 1em);
    }
    @include respond-to(tablet) {
        @include rhythm(1, 0, 0, 1, 1em);
    }
    @include respond-to(laptop) {
        font-size: 3em;
        line-height: 1em;
        @include rhythm(1, 0, 0, 1, 1em);
    }
}

h3 {
    @include respond-to(mobile) {
        font-size: 1.8em;
        @include rhythm(1, 0, 0, 1, 1em);
    }
    @include respond-to(laptop) {
        font-size: 2em;
        @include rhythm(1, 0, 0, 1, 1em);
        letter-spacing: 0.1em;
    }
}

h4 {
    font-size: 1.7em;
    @include rhythm(0.5, 0, 0, 0.5, 1em);
    letter-spacing: 0.1em;
}

p {
    font-family: 'Merriweather', serif;
    font-size: 1em;
    @include rhythm(0, 0, 0, 1, 1em);
}

a {
    text-decoration: none;
}


/*Define container constraints*/

.container {
    @include respond-to(mobile) {
        @include container(90%);
    }
    @include respond-to(laptop) {
        @include container(80%);
    }
}


/*Begin hero section styles*/

#hero {
    text-align: center;
    height: 100vh;
    @include span(12 of 12);
    background-size: cover;
    &:after {
        background: url('../img/trees-min.jpg');
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0.05;
        z-index: -100;
        animation: shake 6s infinite;
        -webkit-animation: shake 6s infinite;
        @keyframes shake {
            0% {
                left: 0px;
            }
            10% {
                left: -4px;
            }
            30% {
                left: 4px;
            }
            60% {
                left: -4px;
            }
            100% {
                left: 0px;
            }
        }
    }
    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: url("../img/trees.jpg");
        background-position: center;
        opacity: .1;
        z-index: -100;
    }
}


/*Title text (h1) style*/

.title {
    padding-top: 40vh;
    margin-top: 0;
    text-align: center;
}


/*Logo (top left) style*/

.logo {
    font-size: 1em;
    display: inline-block;
    float: left;
    margin: 0;
    padding: 12px 10px;
    z-index: 5;
    position: relative;
}


/*JS fixed navigation bar */

.fixed {
    position: fixed;
    left: 0;
    display: inline-block;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}


/*side nav*/

.nav-wrap {
    @include respond-to(mobile) {
        display: none;
    }
    @include respond-to(laptop) {
        display: block;
        position: fixed;
        top: 35vh;
        right: 20px;
        width: 50px;
        height: 400px;
        float: right;
        z-index: 4;
    }
}

.message {
    display: none;
    position: absolute;
    left: -100px;
    top: -20px;
    padding: 10px;
    width: 100px;
    color: $olive;
    &:after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 50px;
    }
}

#to-home,
#to-about,
#to-work,
#to-blog,
#to-contact {
    width: 10px;
    height: 10px;
    background: $offPink;
    @include border-radius(50%);
    display: block;
    padding: 0;
    margin: 0 auto;
    margin-top: 20px;
    color: #fff;
    position: relative;
    text-transform: uppercase;
    &:hover {
        background: #fff;
        @include transition(background,
        0.3s ease-in);
    }
    &:hover > span {
        display: block;
    }
}


/*Menu toggle*/

.menu-button {
    @include respond-to(mobile) {
        float: right;
        margin-right: gutter();
    }
    @include respond-to(laptop) {
        float: left;
    }
    z-index: 9999;
    display: block;
    position: relative;
    top: 10px;
    overflow: hidden;
    height: 50px;
    width: 50px;
    margin: 0;
    padding: 0;
    text-indent: -9999px;
    -webkit-appearance: none;
    border-radius: 0;
    box-shadow: none;
    border: none;
    background: transparent;
    cursor: pointer;
    transition: background 0.3s ease;
    &:focus {
        outline: none;
    }
    span {
        display: block;
        position: absolute;
        top: 25px;
        left: 9px;
        right: 9px;
        height: 1px;
        background: #fff;
        &:before,
        &:after {
            position: absolute;
            display: block;
            left: 0;
            width: 100%;
            height: 1px;
            content: "";
            background: #fff;
            transition-duration: 0.3s, 0.3s;
            transition-delay: 0.3s, 0s;
        }
        &:before {
            top: -10px;
            transition-property: bottom, transform;
        }
        &:after {
            bottom: -10px;
        }
    }
}


/*Active class added to hamburger menu to convert it to 'X'*/

.active {
    background-color: #fff;
    span {
        background: none;
        &:before {
            top: 0;
            background-color: #000;
            transform: rotate(45deg);
            transition-delay: 0s, 0.3s;
        }
        &:after {
            bottom: 0;
            background-color: #000;
            transform: rotate(-45deg);
            transition-delay: 0s, 0.3s;
        }
    }
}

@-webkit-keyframes fadeIntoYou {
    0% {
        background-color: #333;
    }
    100% {
        background-color: #000000;
    }
}


/*Menu overlay*/

.menu-expanded {
    background: #000;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    z-index: 5;
    -webkit-animation: fadeIntoYou 0.3s ease-in;
    -moz-animation: fadeIntoYou 0.3s ease-in;
    -o-animation: fadeIntoYou 0.3s ease-in;
    animation: fadeIntoYou 0.3s ease-in;
}

.icon {
    border: 1px solid rgba(255, 255, 255, 0.17);
    text-decoration: none !important;
    color: #fff;
    padding: 10px;
    margin: 0 5px;
    &:hover {
        background: #fff;
        color: #000;
        @include transition(all,
        0.3s ease-in);
    }
}

.down-arrow-wrap {
    @include respond-to(mobile) {
        padding-top: 15vh;
    }
    @include respond-to(tablet) {
        @include span(12 of 12);
        text-align: center;
        padding-top: 20vh;
    }
}

.down-arrow {
    position: relative;
    display: block;
    font-size: 2em;
    padding: 2%;
    opacity: .6;
    color: #fff;
    z-index: 1;
    animation-duration: 1s;
    animation-timing-function: ease;
    /*Perform bounce animation on hover of down arrow*/
    &:hover {
        @include transition(all,
        0.3s ease-in);
        opacity: 1;
        -webkit-animation-fill-mode: both;
        -moz-animation-fill-mode: both;
        animation-fill-mode: both;
        -webkit-animation: bounce 1s infinite;
        -moz-animation: bounce 1s infinite;
        animation: bounce 1s infinite;
    }
}


/*Bounce animation on down arrow*/

@-webkit-keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-20px);
    }
    60% {
        -webkit-transform: translateY(-15px);
    }
}


/*Begin about section styles*/

#about {
    width: 100%;
    background: #fff;
    @include respond-to(mobile) {
        padding: 0;
    }
    @include respond-to(laptop) {
        padding: 5%;
    }
    h2 {
        color: $offPink;
    }
    p {
        color: $olive;
        font-size: 1em;
    }
    a {
        color: $lightOlive;
        &:hover {
            color: darken($lightOlive, 10);
        }
    }
}

.about-left,
.about-right {
    @include respond-to(mobile) {
        @include span(12);
    }
    @include respond-to(laptop) {
        @include span(6 of 12);
    }
}

.about-right {
    @include last;
}

.top-nav {
    @include span(12 of 12);
    a {
        color: #fff;
        text-transform: uppercase;
        display: inline-block;
        padding: 10px 12px;
    }
}

#about-link,
#work-link,
#blog-link,
#contact-link {
    height: 25vh;
    font-size: 3em;
    line-height: 25vh;
    display: block;
    position: relative;
}


/*P5.js sketch holder wrap*/

#sketch-holder {
    @include respond-to(mobile) {
        margin-top: 0;
    }
    @include span(12 of 12);
    margin-top: 100px;
    canvas {
        @include respond-to(mobile) {
            margin: 0 auto;
            max-width: 300px;
            @include span(8);
            @include pre(2);
        }
        @include respond-to(tablet) {
            @include span(8);
            @include pre(2);
            max-width: 100%;
        }
        @include respond-to(laptop) {
            float: right;
            max-width: 100%;
            margin-top: 50px;
        }
    }
}


/*Work section styles*/

#work {
    @include respond-to(mobile) {
        padding-top: 10%;
        @include span(12);
    }
    @include respond-to(laptop) {
        padding: 5%;
    }
    background: #737B7F;
    position: relative;
    &:after {
        background: url('../img/noise3-min.png');
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 1;
        z-index: 1;
        pointer-events: none;
    }
    img {
        @include respond-to(laptop) {
            margin-top: 160px;
        }
        @include respond-to(desktop) {
            margin-top: 80px;
        }
    }
}

.work-row {
    position: relative;
    @include span(12);
    z-index: 2;
    & p {
        margin-top: 30px;
    }
}

.work-left {
    @include respond-to(mobile) {
        @include span(12);
    }
    @include respond-to(laptop) {
        @include span(6);
    }
    padding-bottom: 10%;
}

.work-right {
    @include respond-to(mobile) {
        @include span(12);
    }
    @include respond-to(laptop) {
        @include span(6 last);
    }
    padding-bottom: 10%;
}

.tag {
    display: inline-block;
    color: $olive;
    background: $lightOlive;
    padding: 0 15px;
    margin: 0 5px 10px 0;
    text-transform: uppercase;
    font-size: 12px;
}

.view-button {
    display: block;
    background: transparent;
    border: 1px solid $lightOlive;
    @include span (4);
    @include pre(4);
    color: #fff;
    font-family: inherit;
    font-size: 16px;
    text-align: center;
    height: 48px;
    line-height: 48px;
    letter-spacing: 0;
    &:hover {
        background: $lightOlive;
        color: $lightBlueGray;
        @include transition(all,
        0.3s ease-in);
    }
}


/*Blog section styles*/

#blog {
    background: $base;
    @include respond-to(mobile) {
        padding: 0;
    }
    @include respond-to(laptop) {
        padding: 5%;
    }
    @include span(12 of 12);
}


/*Contact section styles*/

#contact {
    @include respond-to(mobile) {
        padding-bottom: 10%;
    }
    @include respond-to(laptop) {
        padding: 5%;
    }
    @include span(12 of 12);
    background: #fff;
    h2 {
        @include respond-to(mobile) {
            @include span(12);
        }
        @include respond-to(laptop) {
            @include span(10);
            @include pre(2);
            text-align: left;
        }
        color: $lightOlive;
    }
}

#contact-form {
    @include respond-to(mobile) {
        @include span(12);
    }
    @include respond-to(laptop) {
        @include pre(2);
        @include span(8 of 12);
    }
    label {
        @include span(12 no-gutters);
        margin: 1em 0;
        font-size: 150%;
        font-weight: 300;
        color: #737272;
    }
}

.input-row-half {
    @include respond-to(mobile) {
        @include span(12);
    }
    @include respond-to(laptop) {
        @include span(6);
        &:nth-child(2) {
            @include span(6 last);
        }
    }
}

.textarea-row-full {
    @include span(12);
}

textarea {
    @include span(12);
    resize: none;
    padding: 20px 10px;
    margin-bottom: 2em;
    font-size: 21px;
    font-family: inherit;
    font-size: 24px;
    color: $olive;
    border: 1px solid $olive;
    &:focus {
        outline: 1px solid $base;
    }
}

.submit-button-wrap {
    @include span(12);
}

input[type="text"] {
    @include span(12);
    height: 48px;
    padding: 0 15px;
    font-family: inherit;
    font-size: 18px;
    border: 1px solid $olive;
    &:focus {
        outline: 1px solid $base;
    }
}

input[type="email"] {
    @include span(12);
    height: 48px;
    padding: 0 15px;
    font-family: inherit;
    border: 1px solid $olive;
    font-size: 18px;
    &:focus {
        outline: 1px solid $base;
    }
}

input[type="submit"] {
    @include respond-to(mobile) {
        @include span(12);
        background-color: $olive;
        color: #fff;
        height: 48px;
        cursor: pointer;
        font-family: inherit;
        font-size: 20px;
    }
    @include respond-to(laptop) {
        @include span(3 no-gutters);
        @include pre(9/2);
        background-color: $lightOlive;
        color: #fff;
        border: 1px solid $olive;
        &:hover {
            background-color: $olive;
            color: #fff;
            transition: all 0.3s ease-in;
        }
    }
}


/*Footer styles*/

footer {
    @include span(12);
    background: $lightOlive;
    @include respond-to(mobile) {
        padding: 5% 0;
    }
    @include respond-to(laptop) {
        padding: 5%;
    }
}

.copyright {
    @include span(12);
    text-align: center;
}
