/*
Theme Name: mr_bok
Author: Rob Speakman
Description: Rob Speakman's personal portfolio Wordpress theme
Version: 0.0.1
Tags: hola
*/
/* line 5, ../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*define susy grid setup*/
/*define responsive breakpoints*/
/*Establish vertical rhythm settings*/
/* line 106, ../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 112.5%;
  line-height: 1.66667em;
}

/*CLearfix mixin for awkward divs*/
/*Colours - Triadic wheel*/
/* line 21, ../../../../../../../var/lib/gems/1.9.1/gems/susy-2.2.12/sass/susy/language/susy/_box-sizing.scss */
* *, * *:before, * *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 50, ../sass/screen.scss */
html,
body {
  height: 100%;
  line-height: 1.66667em;
}

/* line 56, ../sass/screen.scss */
body {
  background: #333333;
  color: #fff;
}

/* line 61, ../sass/screen.scss */
img {
  max-width: 100%;
}

/* line 65, ../sass/screen.scss */
h1,
h2,
h3,
h4 {
  font-family: 'Crimson Text', serif;
  text-transform: uppercase;
  letter-spacing: 0.15em;
}
@media (min-width: 300px) {
  /* line 65, ../sass/screen.scss */
  h1,
  h2,
  h3,
  h4 {
    text-align: center;
  }
}
@media (min-width: 733px) {
  /* line 65, ../sass/screen.scss */
  h1,
  h2,
  h3,
  h4 {
    text-align: left;
  }
}

/* line 81, ../sass/screen.scss */
h1 {
  /*Margin-top, padding-top, padding-bottom, margin-bottom*/
}
@media (min-width: 300px) {
  /* line 81, ../sass/screen.scss */
  h1 {
    font-size: 2.5em;
    margin-top: 60px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 30px;
    line-height: 40px;
  }
}
@media (min-width: 1200px) {
  /* line 81, ../sass/screen.scss */
  h1 {
    margin-top: 120px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 60px;
    font-size: 4em;
  }
}
@media (min-width: 1400px) {
  /* line 81, ../sass/screen.scss */
  h1 {
    margin-top: 120px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 60px;
  }
}

@media (min-width: 300px) {
  /* line 97, ../sass/screen.scss */
  h2 {
    font-size: 2em;
    margin-top: 60px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 60px;
  }
}
@media (min-width: 733px) {
  /* line 97, ../sass/screen.scss */
  h2 {
    margin-top: 30px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 30px;
  }
}
@media (min-width: 1200px) {
  /* line 97, ../sass/screen.scss */
  h2 {
    font-size: 3em;
    line-height: 1em;
    margin-top: 30px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 30px;
  }
}

@media (min-width: 300px) {
  /* line 112, ../sass/screen.scss */
  h3 {
    font-size: 1.8em;
    margin-top: 30px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 30px;
  }
}
@media (min-width: 1200px) {
  /* line 112, ../sass/screen.scss */
  h3 {
    font-size: 2em;
    margin-top: 30px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 30px;
    letter-spacing: 0.1em;
  }
}

/* line 124, ../sass/screen.scss */
h4 {
  font-size: 1.7em;
  margin-top: 15px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 15px;
  letter-spacing: 0.1em;
}

/* line 130, ../sass/screen.scss */
p {
  font-family: 'Merriweather', serif;
  font-size: 1em;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 30px;
}

/* line 136, ../sass/screen.scss */
a {
  text-decoration: none;
}

/*Define container constraints*/
@media (min-width: 300px) {
  /* line 143, ../sass/screen.scss */
  .container {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 29, ../sass/screen.scss */
  .container:after {
    content: " ";
    display: block;
    clear: both;
  }
}
@media (min-width: 1200px) {
  /* line 143, ../sass/screen.scss */
  .container {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 29, ../sass/screen.scss */
  .container:after {
    content: " ";
    display: block;
    clear: both;
  }
}

/*Begin hero section styles*/
/* line 155, ../sass/screen.scss */
#hero {
  text-align: center;
  height: 100vh;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  background-size: cover;
}
/* line 160, ../sass/screen.scss */
#hero:after {
  background: url("../img/trees-min.jpg");
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.05;
  z-index: -100;
  animation: shake 6s infinite;
  -webkit-animation: shake 6s infinite;
}
@keyframes shake {
  0% {
    left: 0px;
  }
  10% {
    left: -4px;
  }
  30% {
    left: 4px;
  }
  60% {
    left: -4px;
  }
  100% {
    left: 0px;
  }
}
/* line 190, ../sass/screen.scss */
#hero:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("../img/trees.jpg");
  background-position: center;
  opacity: .1;
  z-index: -100;
}

/*Title text (h1) style*/
/* line 207, ../sass/screen.scss */
.title {
  padding-top: 40vh;
  margin-top: 0;
  text-align: center;
}

/*Logo (top left) style*/
/* line 216, ../sass/screen.scss */
.logo {
  font-size: 1em;
  display: inline-block;
  float: left;
  margin: 0;
  padding: 12px 10px;
  z-index: 5;
  position: relative;
}

/*JS fixed navigation bar */
/* line 229, ../sass/screen.scss */
.fixed {
  position: fixed;
  left: 0;
  display: inline-block;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

/*side nav*/
@media (min-width: 300px) {
  /* line 240, ../sass/screen.scss */
  .nav-wrap {
    display: none;
  }
}
@media (min-width: 1200px) {
  /* line 240, ../sass/screen.scss */
  .nav-wrap {
    display: block;
    position: fixed;
    top: 35vh;
    right: 20px;
    width: 50px;
    height: 400px;
    float: right;
    z-index: 4;
  }
}

/* line 256, ../sass/screen.scss */
.message {
  display: none;
  position: absolute;
  left: -100px;
  top: -20px;
  padding: 10px;
  width: 100px;
  color: #404039;
}
/* line 264, ../sass/screen.scss */
.message:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50px;
}

/* line 275, ../sass/screen.scss */
#to-home,
#to-about,
#to-work,
#to-blog,
#to-contact {
  width: 10px;
  height: 10px;
  background: #7f7373;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  display: block;
  padding: 0;
  margin: 0 auto;
  margin-top: 20px;
  color: #fff;
  position: relative;
  text-transform: uppercase;
}
/* line 291, ../sass/screen.scss */
#to-home:hover,
#to-about:hover,
#to-work:hover,
#to-blog:hover,
#to-contact:hover {
  background: #fff;
  -moz-transition: background, ease-in 0.3s;
  -o-transition: background, ease-in 0.3s;
  -webkit-transition: background, ease-in 0.3s;
  transition: background, ease-in 0.3s;
}
/* line 296, ../sass/screen.scss */
#to-home:hover > span,
#to-about:hover > span,
#to-work:hover > span,
#to-blog:hover > span,
#to-contact:hover > span {
  display: block;
}

/*Menu toggle*/
/* line 304, ../sass/screen.scss */
.menu-button {
  z-index: 9999;
  display: block;
  position: relative;
  top: 10px;
  overflow: hidden;
  height: 50px;
  width: 50px;
  margin: 0;
  padding: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
  border-radius: 0;
  box-shadow: none;
  border: none;
  background: transparent;
  cursor: pointer;
  transition: background 0.3s ease;
}
@media (min-width: 300px) {
  /* line 304, ../sass/screen.scss */
  .menu-button {
    float: right;
    margin-right: 2.85714%;
  }
}
@media (min-width: 1200px) {
  /* line 304, ../sass/screen.scss */
  .menu-button {
    float: left;
  }
}
/* line 329, ../sass/screen.scss */
.menu-button:focus {
  outline: none;
}
/* line 332, ../sass/screen.scss */
.menu-button span {
  display: block;
  position: absolute;
  top: 25px;
  left: 9px;
  right: 9px;
  height: 1px;
  background: #fff;
}
/* line 340, ../sass/screen.scss */
.menu-button span:before, .menu-button span:after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 1px;
  content: "";
  background: #fff;
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0s;
}
/* line 352, ../sass/screen.scss */
.menu-button span:before {
  top: -10px;
  transition-property: bottom, transform;
}
/* line 356, ../sass/screen.scss */
.menu-button span:after {
  bottom: -10px;
}

/*Active class added to hamburger menu to convert it to 'X'*/
/* line 365, ../sass/screen.scss */
.active {
  background-color: #fff;
}
/* line 367, ../sass/screen.scss */
.active span {
  background: none;
}
/* line 369, ../sass/screen.scss */
.active span:before {
  top: 0;
  background-color: #000;
  transform: rotate(45deg);
  transition-delay: 0s, 0.3s;
}
/* line 375, ../sass/screen.scss */
.active span:after {
  bottom: 0;
  background-color: #000;
  transform: rotate(-45deg);
  transition-delay: 0s, 0.3s;
}

@-webkit-keyframes fadeIntoYou {
  0% {
    background-color: #333;
  }
  100% {
    background-color: #000000;
  }
}
/*Menu overlay*/
/* line 396, ../sass/screen.scss */
.menu-expanded {
  background: #000;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  z-index: 5;
  -webkit-animation: fadeIntoYou 0.3s ease-in;
  -moz-animation: fadeIntoYou 0.3s ease-in;
  -o-animation: fadeIntoYou 0.3s ease-in;
  animation: fadeIntoYou 0.3s ease-in;
}

/* line 411, ../sass/screen.scss */
.icon {
  border: 1px solid rgba(255, 255, 255, 0.17);
  text-decoration: none !important;
  color: #fff;
  padding: 10px;
  margin: 0 5px;
}
/* line 417, ../sass/screen.scss */
.icon:hover {
  background: #fff;
  color: #000;
  -moz-transition: all, ease-in 0.3s;
  -o-transition: all, ease-in 0.3s;
  -webkit-transition: all, ease-in 0.3s;
  transition: all, ease-in 0.3s;
}

@media (min-width: 300px) {
  /* line 425, ../sass/screen.scss */
  .down-arrow-wrap {
    padding-top: 15vh;
  }
}
@media (min-width: 733px) {
  /* line 425, ../sass/screen.scss */
  .down-arrow-wrap {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    padding-top: 20vh;
  }
}

/* line 436, ../sass/screen.scss */
.down-arrow {
  position: relative;
  display: block;
  font-size: 2em;
  padding: 2%;
  opacity: .6;
  color: #fff;
  z-index: 1;
  animation-duration: 1s;
  animation-timing-function: ease;
  /*Perform bounce animation on hover of down arrow*/
}
/* line 447, ../sass/screen.scss */
.down-arrow:hover {
  -moz-transition: all, ease-in 0.3s;
  -o-transition: all, ease-in 0.3s;
  -webkit-transition: all, ease-in 0.3s;
  transition: all, ease-in 0.3s;
  opacity: 1;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: bounce 1s infinite;
  -moz-animation: bounce 1s infinite;
  animation: bounce 1s infinite;
}

/*Bounce animation on down arrow*/
@-webkit-keyframes bounce {
  0%,
    20%,
    50%,
    80%,
    100% {
    -webkit-transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-20px);
  }
  60% {
    -webkit-transform: translateY(-15px);
  }
}
/*Begin about section styles*/
/* line 482, ../sass/screen.scss */
#about {
  width: 100%;
  background: #fff;
}
@media (min-width: 300px) {
  /* line 482, ../sass/screen.scss */
  #about {
    padding: 0;
  }
}
@media (min-width: 1200px) {
  /* line 482, ../sass/screen.scss */
  #about {
    padding: 5%;
  }
}
/* line 491, ../sass/screen.scss */
#about h2 {
  color: #7f7373;
}
/* line 494, ../sass/screen.scss */
#about p {
  color: #404039;
  font-size: 1em;
}
/* line 498, ../sass/screen.scss */
#about a {
  color: #C1BDBD;
}
/* line 500, ../sass/screen.scss */
#about a:hover {
  color: #a8a3a3;
}

@media (min-width: 300px) {
  /* line 506, ../sass/screen.scss */
  .about-left,
  .about-right {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}
@media (min-width: 1200px) {
  /* line 506, ../sass/screen.scss */
  .about-left,
  .about-right {
    width: 48.57143%;
    float: left;
    margin-right: 2.85714%;
  }
}

/* line 516, ../sass/screen.scss */
.about-right {
  float: right;
  margin-right: 0;
}

/* line 520, ../sass/screen.scss */
.top-nav {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}
/* line 522, ../sass/screen.scss */
.top-nav a {
  color: #fff;
  text-transform: uppercase;
  display: inline-block;
  padding: 10px 12px;
}

/* line 530, ../sass/screen.scss */
#about-link,
#work-link,
#blog-link,
#contact-link {
  height: 25vh;
  font-size: 3em;
  line-height: 25vh;
  display: block;
  position: relative;
}

/*P5.js sketch holder wrap*/
/* line 544, ../sass/screen.scss */
#sketch-holder {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  margin-top: 100px;
}
@media (min-width: 300px) {
  /* line 544, ../sass/screen.scss */
  #sketch-holder {
    margin-top: 0;
  }
}
@media (min-width: 300px) {
  /* line 550, ../sass/screen.scss */
  #sketch-holder canvas {
    margin: 0 auto;
    max-width: 300px;
    width: 65.71429%;
    float: left;
    margin-right: 2.85714%;
    margin-left: 17.14286%;
  }
}
@media (min-width: 733px) {
  /* line 550, ../sass/screen.scss */
  #sketch-holder canvas {
    width: 65.71429%;
    float: left;
    margin-right: 2.85714%;
    margin-left: 17.14286%;
    max-width: 100%;
  }
}
@media (min-width: 1200px) {
  /* line 550, ../sass/screen.scss */
  #sketch-holder canvas {
    float: right;
    max-width: 100%;
    margin-top: 50px;
  }
}

/*Work section styles*/
/* line 573, ../sass/screen.scss */
#work {
  background: #737B7F;
  position: relative;
}
@media (min-width: 300px) {
  /* line 573, ../sass/screen.scss */
  #work {
    padding-top: 10%;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}
@media (min-width: 1200px) {
  /* line 573, ../sass/screen.scss */
  #work {
    padding: 5%;
  }
}
/* line 583, ../sass/screen.scss */
#work:after {
  background: url("../img/noise3-min.png");
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 1;
  z-index: 1;
  pointer-events: none;
}
@media (min-width: 1200px) {
  /* line 595, ../sass/screen.scss */
  #work img {
    margin-top: 160px;
  }
}
@media (min-width: 1400px) {
  /* line 595, ../sass/screen.scss */
  #work img {
    margin-top: 80px;
  }
}

/* line 605, ../sass/screen.scss */
.work-row {
  position: relative;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  z-index: 2;
}
/* line 609, ../sass/screen.scss */
.work-row p {
  margin-top: 30px;
}

/* line 614, ../sass/screen.scss */
.work-left {
  padding-bottom: 10%;
}
@media (min-width: 300px) {
  /* line 614, ../sass/screen.scss */
  .work-left {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}
@media (min-width: 1200px) {
  /* line 614, ../sass/screen.scss */
  .work-left {
    width: 48.57143%;
    float: left;
    margin-right: 2.85714%;
  }
}

/* line 624, ../sass/screen.scss */
.work-right {
  padding-bottom: 10%;
}
@media (min-width: 300px) {
  /* line 624, ../sass/screen.scss */
  .work-right {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}
@media (min-width: 1200px) {
  /* line 624, ../sass/screen.scss */
  .work-right {
    width: 48.57143%;
    float: right;
    margin-right: 0;
  }
}

/* line 634, ../sass/screen.scss */
.tag {
  display: inline-block;
  color: #404039;
  background: #C1BDBD;
  padding: 0 15px;
  margin: 0 5px 10px 0;
  text-transform: uppercase;
  font-size: 12px;
}

/* line 644, ../sass/screen.scss */
.view-button {
  display: block;
  background: transparent;
  border: 1px solid #C1BDBD;
  width: 31.42857%;
  float: left;
  margin-right: 2.85714%;
  margin-left: 34.28571%;
  color: #fff;
  font-family: inherit;
  font-size: 16px;
  text-align: center;
  height: 48px;
  line-height: 48px;
  letter-spacing: 0;
}
/* line 657, ../sass/screen.scss */
.view-button:hover {
  background: #C1BDBD;
  color: #737B7F;
  -moz-transition: all, ease-in 0.3s;
  -o-transition: all, ease-in 0.3s;
  -webkit-transition: all, ease-in 0.3s;
  transition: all, ease-in 0.3s;
}

/*Blog section styles*/
/* line 668, ../sass/screen.scss */
#blog {
  background: #333333;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}
@media (min-width: 300px) {
  /* line 668, ../sass/screen.scss */
  #blog {
    padding: 0;
  }
}
@media (min-width: 1200px) {
  /* line 668, ../sass/screen.scss */
  #blog {
    padding: 5%;
  }
}

/*Contact section styles*/
/* line 682, ../sass/screen.scss */
#contact {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  background: #fff;
}
@media (min-width: 300px) {
  /* line 682, ../sass/screen.scss */
  #contact {
    padding-bottom: 10%;
  }
}
@media (min-width: 1200px) {
  /* line 682, ../sass/screen.scss */
  #contact {
    padding: 5%;
  }
}
/* line 691, ../sass/screen.scss */
#contact h2 {
  color: #C1BDBD;
}
@media (min-width: 300px) {
  /* line 691, ../sass/screen.scss */
  #contact h2 {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}
@media (min-width: 1200px) {
  /* line 691, ../sass/screen.scss */
  #contact h2 {
    width: 82.85714%;
    float: left;
    margin-right: 2.85714%;
    margin-left: 17.14286%;
    text-align: left;
  }
}

@media (min-width: 300px) {
  /* line 704, ../sass/screen.scss */
  #contact-form {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}
@media (min-width: 1200px) {
  /* line 704, ../sass/screen.scss */
  #contact-form {
    margin-left: 17.14286%;
    width: 65.71429%;
    float: left;
    margin-right: 2.85714%;
  }
}
/* line 712, ../sass/screen.scss */
#contact-form label {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  margin: 1em 0;
  font-size: 150%;
  font-weight: 300;
  color: #737272;
}

@media (min-width: 300px) {
  /* line 721, ../sass/screen.scss */
  .input-row-half {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}
@media (min-width: 1200px) {
  /* line 721, ../sass/screen.scss */
  .input-row-half {
    width: 48.57143%;
    float: left;
    margin-right: 2.85714%;
  }
  /* line 727, ../sass/screen.scss */
  .input-row-half:nth-child(2) {
    width: 48.57143%;
    float: right;
    margin-right: 0;
  }
}

/* line 733, ../sass/screen.scss */
.textarea-row-full {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

/* line 737, ../sass/screen.scss */
textarea {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  resize: none;
  padding: 20px 10px;
  margin-bottom: 2em;
  font-size: 21px;
  font-family: inherit;
  font-size: 24px;
  color: #404039;
  border: 1px solid #404039;
}
/* line 747, ../sass/screen.scss */
textarea:focus {
  outline: 1px solid #333333;
}

/* line 752, ../sass/screen.scss */
.submit-button-wrap {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

/* line 756, ../sass/screen.scss */
input[type="text"] {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  height: 48px;
  padding: 0 15px;
  font-family: inherit;
  font-size: 18px;
  border: 1px solid #404039;
}
/* line 763, ../sass/screen.scss */
input[type="text"]:focus {
  outline: 1px solid #333333;
}

/* line 768, ../sass/screen.scss */
input[type="email"] {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  height: 48px;
  padding: 0 15px;
  font-family: inherit;
  border: 1px solid #404039;
  font-size: 18px;
}
/* line 775, ../sass/screen.scss */
input[type="email"]:focus {
  outline: 1px solid #333333;
}

@media (min-width: 300px) {
  /* line 780, ../sass/screen.scss */
  input[type="submit"] {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    background-color: #404039;
    color: #fff;
    height: 48px;
    cursor: pointer;
    font-family: inherit;
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  /* line 780, ../sass/screen.scss */
  input[type="submit"] {
    width: 22.85714%;
    float: left;
    margin-left: 38.57143%;
    background-color: #C1BDBD;
    color: #fff;
    border: 1px solid #404039;
  }
  /* line 796, ../sass/screen.scss */
  input[type="submit"]:hover {
    background-color: #404039;
    color: #fff;
    transition: all 0.3s ease-in;
  }
}

/*Footer styles*/
/* line 807, ../sass/screen.scss */
footer {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  background: #C1BDBD;
}
@media (min-width: 300px) {
  /* line 807, ../sass/screen.scss */
  footer {
    padding: 5% 0;
  }
}
@media (min-width: 1200px) {
  /* line 807, ../sass/screen.scss */
  footer {
    padding: 5%;
  }
}

/* line 818, ../sass/screen.scss */
.copyright {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
}
